@font-face {
  font-family: "h2";
  src: url("../assets/fonts/GravitasOne-Regular.ttf");
}
@font-face {
  font-family: "p";
  src: url("../assets//fonts/Lato-Regular.ttf");
}
html,
body {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: auto;
}
header {
  border: solid 4px red;
}
h2 {
  font-family: "h2";
}
main {
  border: solid 4px rgb(13, 0, 255);
}
.articleCard {
  /* border: solid 4px rgb(0, 255, 30); */
}
.articleCard > img {
  max-width: 100%;
  height: auto;
}
#navArticle {
  display: flex;
  padding: 0px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: solid 7px rgb(142, 20, 123);
}
.navElements {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  display: inline-block;
}

#likeButton {
  display: block;
  /* background-image: url(../assets/Buttons/likeButton.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

  margin: 0px;
}
.gallery {
  border: 1px solid #d3cd12;
  margin-left: 10%;
  width: 80%;
}
#article_body {
  margin-left: 10%;
  border: 1px solid #d3cd12;
  width: 80%;
}
p {
  font-size: 20pt;
  font-family: "p";
  text-align: justify;
}
#commentInfo {
  display: flex;
  padding: 0px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: azure;
}
.inputErr {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 8pt;
  color: red;
  width: 20%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
